<script type="text/javascript">
    $(document).ready(function(){
        $('.parallax').parallax()
        $(".button-collapse").sideNav()
        $('.collapsible').collapsible()
        $('.modal-trigger').leanModal()
        })
</script>
<div class="parallax-container">
    <div class="parallax"><img src="http://daddytypes.com/archive/greyscale_gorilla_comics.jpg"></div>
</div>
<div class="section white">
    <div class="row">
        <h2 class="header">Parallax</h2>
        <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.</p>
        <div class="row nomargin promo">
            <div class="col s12 m4 l4">
                <p><i class="large material-icons">sort_by_alpha</i>
                <p>List of Comics</p>
                <p>Here is the list of <strong>Marvel</strong> comic books</p> 
            </div>
            <div class="col s12 m4 l4">
                <p><i class="large material-icons">library_books</i></p>
                <p>Collection</p>
                <p>This will be a list of comics in my collection</p>
            </div>
            <div class="col s12 m4 l4">
                <p><i class="large material-icons">notifications_paused</i></p>
                <p>TBD</p>
                <p>This is a placeholder</p>
            </div>
        </div>
    </div>
</div>

<!--<div class="parallax-container">
    <div class="parallax" style="height:100><img src="http://i.annihil.us/u/prod/marvel//universe3zx/images/b/b0/XMEN200.jpg"></div>
</div>
<div class="section white">
    <div class="row">
        <h2 class="header">The Comicbook Collection</h2>
        <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.</p>
        <div class="row nomargin promo">
            <div class="col s12 m4 l4">
                <p><i class="large material-icons">sort_by_alpha</i>
                <p>List of Comics</p>
                <p>Here is the list of <strong>Marvel</strong> comic books</p> 
            </div>
            <div class="col s12 m4 l4">
                <p><i class="large material-icons">library_books</i></p>
                <p>Collection</p>
                <p>This will be a list of comics in my collection</p>
            </div>
            <div class="col s12 m4 l4">
                <p><i class="large material-icons">notifications_paused</i></p>
                <p>TBD</p>
                <p>This is a placeholder</p>
            </div>
        </div>
    </div>
</div>-->
