<h2 class="blue-text text-darken-2">Marvel Comics</h2>

    <div class="row">

        <div class="col s4">
            <div>
                <span>
                    <i class="large material-icons">sort_by_alpha</i>
                    <p>Here is the list of <strong>Marvel</strong> comic books</p> 
                </span>
            </div>
        </div>
        <div class="col s4">
            <div>
                <span>
                    <i class="large material-icons">library_books</i>
                    <p>I will have a list of comics in my collection; the list will make it easy to determine what issues I need to complete my collection</p>
                </span>
            </div>
        </div>
        <div class="col s4">
            <div>
                <span>
                    <i class="large material-icons">notifications_paused</i>
                    <p>This is a placeholder</p>
                </span>
            </div>
        </div>

    </div>
