<!-- <h2 class="cyan-text text-lighten-1"></h2> -->
{{issue.oneComic.images}}

<div class="row">
  <div class="col s8 push-s4"><span class="flow-text"></span>
    <ul class="collection">
      <li ng-repeat="issue in issues.oneComic">
        <h5> {{ issue.title }} </h5>
        <p> <strong> PRICE: $</strong> {{ issue.prices[0].price }} | <strong> DATE: </strong> {{ issue.dates[1].date }} </p>
        <p> <strong> DESCRIPTION: </strong> {{ issue.description }} </p>
        <!-- <img src="{{issue.images[0].path}}.jpg" alt=""> -->

      </li>
    </ul>
  </div>
  <div class="col s4 pull-s8"  ng-repeat="issue in issues.oneComic">
    <span>
      <!-- <img src="{{comic.thumbnail.path}}.{{comic.thumbnail.extension}}" alt="" class="circle"> -->
      <img src="{{issue.images[0].path}}.jpg" alt="">
    </span>
  </div>
</div>
