<!-- <h2 class="cyan-text text-lighten-1"></h2> -->
<!-- {{issue.oneComic.images}} -->
<div style="height: 60px"></div>
<div class="row" ng-repeat="issue in issues.oneComic">
  <!-- <div>
    <img src="{{issue.images[0].path}}/portrait_xlarge.jpg" alt="">
  </div> -->
  <div class="col s10 push-s2">
    <span class="flow-text"></span>
    <ul class="collection" class="collection-item">
      <li class="z-depth-2" style="padding:7px">
        <h5> {{ issue.title }} </h5>
        <p> <strong> {{issue.prices[0].type}}</strong>: ${{ issue.prices[0].price }} | <strong>{{ issue.dates[0].type }}</strong> {{ issue.dates[0].date }} </p>
        <p> <strong> DESCRIPTION: </strong> {{ issue.description }} </p>
      </li>
    </ul>
  </div>
  <div class="col s2 pull-s10">
    <span class="z-depth-2">
      <img src="{{issue.images[0].path}}/portrait_xlarge.jpg" alt="">
    </span>
  </div>
</div>
<footer ng-controller="ComicController as comics">
    <div class="footer-copyright" class="page-footer blue-grey lighten-5">
        <div class="container">
        <a class="blue-grey-text text-lighten-2 right" href="http://marvel.com">{{ comics.copyright }}</a>
        </div>
    </div>
</footer>
