<style>
  div {
    width: 100%;
    height: 100%;
    display: block;
    position: relative:absolute;
  }

  div::after {
    content: "";
    background: url("//2.bp.blogspot.com/-6AM1Xkyzz5c/U340hVmdGAI/AAAAAAAABz8/JsRQWJZb8Ts/s1600/Xmen_classics_1_by_artadams.png");
    opacity: .05;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }
</style>
<div style="height: 60px"></div>
  <div class="container blue-grey lighten-5" style="border: 3px solid #4dd0e1;width: 50%;padding:10px">
    <h3  style="text-shadow: 2px 2px 4px #000000">Sign Up</h3>
    <form ng-submit="main.create()">
        <input type="text" ng-model="main.newUser.name" placeholder="Name">
        <input type="email" ng-model="main.newUser.email" placeholder="Email">
        <input type="password" ng-model="main.newUser.password" placeholder="Password">
        <div>
          <button type="submit">Create User</button> or <a ui-sref="login">Login</a>
        </div>
    </form>
  </div>
