<h3 style="text-shadow: 2px 2px 4px #000000">Marvel Comics list</h3>

<ul class="collection">
    <li ui-sref="comicpage({id: comic.id})" class="collection-item avatar collapsible-header blue-grey lighten-3 white-text thin" ng-repeat="comic in comics.allComics" style="min-height:initial">
        <img src="{{comic.thumbnail.path}}.{{comic.thumbnail.extension}}" alt="" class="circle">
        <h5> <span> {{ comic.title }} </span> </h5>
    </li>
    <!-- <a href="#top">Scroll to Top</a> -->
</ul>
<footer ng-controller="ComicController as comics">
    <div class="footer-copyright" class="page-footer blue-grey lighten-5">
        <div class="container">
        <a class="blue-grey-text text-lighten-2 right" href="//marvel.com">{{ comics.copyright }}</a>
        </div>
    </div>
</footer>

<!--<ul class="pagination">
    <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
    <li class="active"><a href="#!">0</a></li>
    <li class="waves-effect"><a ui-sref="comics">A</a></li>
    <li class="waves-effect"><a href="#!">B</a></li>
    <li class="waves-effect"><a href="#!">C</a></li>
    <li class="waves-effect"><a href="#!">D</a></li>
    <li class="waves-effect"><a href="#!">E</a></li>
    <li class="waves-effect"><a href="#!">F</a></li>
    <li class="waves-effect"><a href="#!">G</a></li>
    <li class="waves-effect"><a href="#!">H</a></li>
    <li class="waves-effect"><a href="#!">I</a></li>
    <li class="waves-effect"><a href="#!">J</a></li>
    <li class="waves-effect"><a href="#!">K</a></li>
    <li class="waves-effect"><a href="#!">L</a></li>
    <li class="waves-effect"><a href="#!">M</a></li>
    <li class="waves-effect"><a href="#!">N</a></li>
    <li class="waves-effect"><a href="#!">O</a></li>
    <li class="waves-effect"><a href="#!">P</a></li>
    <li class="waves-effect"><a href="#!">Q</a></li>
    <li class="waves-effect"><a href="#!">R</a></li>
    <li class="waves-effect"><a href="#!">S</a></li>
    <li class="waves-effect"><a href="#!">T</a></li>
    <li class="waves-effect"><a href="#!">U</a></li>
    <li class="waves-effect"><a href="#!">V</a></li>
    <li class="waves-effect"><a href="#!">W</a></li>
    <li class="waves-effect"><a href="#!">X</a></li>
    <li class="waves-effect"><a href="#!">Y</a></li>
    <li class="waves-effect"><a href="#!">Z</a></li>
    <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
  </ul>-->
