<h2 class="cyan-text text-lighten-1">Marvel Comics list</h2>

<ul class="pagination">
    <!--<li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>-->
    <li class="active"><a href="#!">0</a></li>
    <li class="waves-effect"><a ui-sref="comics">A</a></li>
    <li class="waves-effect"><a href="#!">B</a></li>
    <li class="waves-effect"><a href="#!">C</a></li>
    <li class="waves-effect"><a href="#!">D</a></li>
    <li class="waves-effect"><a href="#!">E</a></li>
    <li class="waves-effect"><a href="#!">F</a></li>
    <li class="waves-effect"><a href="#!">G</a></li>
    <li class="waves-effect"><a href="#!">H</a></li>
    <li class="waves-effect"><a href="#!">I</a></li>
    <li class="waves-effect"><a href="#!">J</a></li>
    <li class="waves-effect"><a href="#!">K</a></li>
    <li class="waves-effect"><a href="#!">L</a></li>
    <li class="waves-effect"><a href="#!">M</a></li>
    <li class="waves-effect"><a href="#!">N</a></li>
    <li class="waves-effect"><a href="#!">O</a></li>
    <li class="waves-effect"><a href="#!">P</a></li>
    <li class="waves-effect"><a href="#!">Q</a></li>
    <li class="waves-effect"><a href="#!">R</a></li>
    <li class="waves-effect"><a href="#!">S</a></li>
    <li class="waves-effect"><a href="#!">T</a></li>
    <li class="waves-effect"><a href="#!">U</a></li>
    <li class="waves-effect"><a href="#!">V</a></li>
    <li class="waves-effect"><a href="#!">W</a></li>
    <li class="waves-effect"><a href="#!">X</a></li>
    <li class="waves-effect"><a href="#!">Y</a></li>
    <li class="waves-effect"><a href="#!">Z</a></li>
    <!--<li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>-->
  </ul>
<ul class="collection">
    <li class="collection-item avatar collapsible-header blue-grey darken-1 white-text" ng-repeat="comic in comics.allComics">
        {{comic.comics.thumbnail.path}}
        {{comic.comics.thumbnail.extension}}
        <!--<img src="{{ comic.comics.thumbnail.path}} + '.' + {{ comic.comics.thumbnail.extension }}" alt="" class="circle">-->
        <p> Title: <strong> {{ comic.title }} </strong> | ID: <strong> {{ comic.id }} </strong> </p>
        <p> Available issues: {{ comic.comics.available }} </p>
    </li>
</ul>

<script>
  $(document).ready(function(){
    $('.collapsible').collapsible({
      accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
    });
  });
</script>
